* {
  margin: 0;
}
body {
  background-color: rgb(243, 241, 233);
}
.logo {
  font-family: bebas neue;
  font-size: 40px;
  color: white;
  margin-top: 15px;
  padding-left: 50px;
  font-weight: bold;
}
.logo img {
  width: 80px;
  height: 85px;
  margin-top: -15px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 85px;
  background-color: rgb(185, 22, 16);
}
.pesquisa {
  align-self: center;
  border-radius: 8px;
  padding: 7px;
  height: 20px;
  width: 300px;
  margin-right: 40px;
  background-color: rgb(236, 232, 232);
  border: 1px solid rgb(199, 14, 14);
  outline: 0;
}

#menu-area {
  width: 0px;
  height: 320px;
  background-color: rgb(223, 39, 39);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease.5s right;
  position: absolute;
  margin-left: 1135px;
  right: 0px;
}

#menu-area ul {
  list-style: none;
}
#menu-area li {
  display: block;
  padding: 12px;
  color: rgb(253, 253, 253);
  cursor: pointer;
}
#menu-area li:hover {
  color: grey;
}
.barrinha {
  width: 22px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin-right: 16px;
  margin-top: 13px;
}
.barra {
  height: 2px;
  background-color: black;
}

/*Alinha os itens do ul/li*/
.menu {
  display: flex;
  align-items: center;
}

nav li,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  margin-right: 80px;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
}
nav a:hover {
  color: rgb(82, 140, 155);
}

.banner {
  height: 320px;
  background-image: url(../imagens/slide.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.search {
  float: right;
  height: 30px;
  position: absolute;
  margin-top: 10px;
  margin-left: 285px;
  cursor: pointer;
}

.container .sliders-pointers {
  margin-top: 15px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .pointer {
  width: 10px;
  height: 10px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.container .pointer.active {
  background-color: #b28756;
}

.products {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.product {
  border: 1px solid white;
  background-color: white;
  box-shadow: 0.2px 0.2px 0.8px black;
}

.products-photo {
  width: 150px;
  height: 150px;
}

.products-name {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.products-desc {
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.price {
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.sec-carrinho{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: bold;
  height: 20px;
  width: 250px;
  margin: auto;
}

.sec-carrinho2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  height: 20px;
  width: 353px;
  margin: auto;
}

.carrinho-principal{
  height: 42px;
  width: 352px;
  margin: auto;
  margin-top: 250px;
}

.carbtn{
    background-color: rgb(185, 22, 16);
    color: #FFF;
    border: none;
    height: 50px;
    line-height: 30px;
    width: 300px;
    position: relative;
    cursor: pointer;
    font-size: 15pt;
    border-radius: 5px;
    text-decoration: none;
}
span.material-icons {
  font-size: 22px;
  position: absolute;
  left: 15px;
  top: 14px;
  text-decoration: none;
}

.carrinhobtn{
  margin: auto;
  width: 280px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}