@media screen and (max-width: 500px){
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
    *{
        margin: 0;
        padding: 0px;
    }
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pointer,
    .logo,
    nav ul li a,
    .barrinha{
        display: none;
    }
    .menu{
        width: 400px;
    }
    .pesquisa{
        margin-left: 30px;
    }
    .search{
        margin-left: 310px;
        margin-top: 5px;
    }
}